.titleBar {
  background-color: var(--color-gray-lighter);
  color: var(--color-primary);
  font-size: 16px;
  height: 38px;
  line-height: 36px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1;
}