html {
  box-sizing: border-box;
}

@supports (font: -apple-system-body) {
  html {
    font: -apple-system-body;
  }

  @media (hover: hover) and (pointer: fine) {
    html {
      font-size: 1rem;
    }
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
input {
  margin: 0;
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code,
pre {
  font-family: 'Roboto Mono', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: 11px;
}

header {
  margin: 0 !important;
  padding: 0 !important;
}

a {
  text-decoration: none;
  color: #0096e7;
}

/* Layout of loading screen */

body {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 18px 36px;
  height: 100%;
  width: 100%;
  background-color: #034b9d;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 48px;
  -webkit-app-region: drag;
}

body > svg {
  margin-bottom: 40px;
}
